input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto';
    color: #d4d4d4;
    height: 100vh;
    background-color: #151515;
}

#editorElement {

    display: none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}

/* START OPTIONS BAR */
#editorElement .options-bar {

    height: 35px;
    padding-top: 5px;
    padding-left: 5px;
    width: 100vw;
    margin-bottom: 10px;
    background-color: #151515;
}

#editorElement .options-bar ul {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#editorElement .options-bar ul li  {

    padding: 4px;
    margin-right: 12px;
}

#editorElement .options-bar ul li a {

    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
    color: #d4d4d4;
    transition: .2s ease-in;
}

#editorElement .options-bar ul li a:hover {

    color: rgb(231, 193, 20);
}
/* END OPTIONS BAR */


/* START ACTIONS BAR */
#editorElement .actions-bar {

    display: flex;
    gap: 5px;
    height: 35px;
    padding-left: 5px;
    width: 100vw;
    margin-bottom: 10px;
}


#editorElement .actions-bar button {

    padding: 8px;
    border: 1px solid rgb(231, 193, 20);
    color: #d5d5d5;
    border-radius: 2px;
    margin-right: 4px;

    background-color: #101010;
}

#editorElement .actions-bar button:hover {

    cursor: pointer;
    color: rgb(231, 193, 20);
    border: none;
    background-color: #303030;
}
/* END OPTIONS BAR */

#editorElement .containers {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1px;
    height: calc(100vh - 90px);
    position: relative;
}

#editorElement .window-container {

    display: grid;
    grid-template-columns: auto 1fr auto; /* Two columns by default */
    grid-template-rows: 1fr; /* Two rows by default */
    gap: 2px;
    width: 100vw;
    position: relative;
}

#editorElement .window-container-top {

    min-height: 60vh;

}

#editorElement .window-container-bottom {

    align-self: bottom;
    transform-origin: bottom;

    min-height: 15vh;
    max-height: 30vh;
}

#editorElement .window {
 
    position: relative;
/*    display: flex;
    flex-direction: column;
  */  overflow: hidden;
}

#editorElement .window-resize-left,
#editorElement .window-resize-right {

    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    cursor: e-resize;
    background-color: transparent;
}

#editorElement .window-resize-left
{
    left: 0;
}

#editorElement .window-resize-right {

    right: 0;
}

#editorElement .container-resize {

    width: 100vw;
    height: 3px;
    cursor: s-resize;
    background-color: transparent;
        align-self: bottom;
    transform-origin: bottom;
}

#editorElement .window-header {

    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #151515;
}

#editorElement .window-header span {
    
    padding: 12px;
    font-size: 0.9rem;
    background-color: #202020;
}

#editorElement .window-body  {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;

    height: 100%;
}

.content {

    margin: 0;
    padding: 0;
}

#playElement {

    display: none;
}

#editorElement .window-body .content {

    width: 100%;
    height: 100%;
    margin-left: 2px;
    border: 2px solid #404040;
}

#worldObjectsWindow {

    width: 100%;
    min-width: 10vw;
    max-width: 15vw;
}

#propertiesWindow {

    transform-origin: right center;
    justify-self: right;
    width: 100%;
    min-width: 20vw;
    max-width: 35vw;    
}

.objectProperties {

    display: none;
}

.objectProperties .head {

    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

        border-bottom: 2px solid #454545;
    border-bottom-style: dashed;
}

.objectProperties .actions {

    display: flex;
    flex-direction: column;

    justify-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
}

.objectProperties .actions p {

    cursor: pointer;
}

#propertiesWindow .objectProperties h4{

    text-transform: uppercase;
    font-size: 0.9rem;
    padding-top: 4px;
    padding-left: 6px;
}

#propertiesWindow .objectProperties p {

    padding-top: 4px;
    padding-left: 6px;
    padding-bottom: 8px;
    font-size: 0.85rem;
}

#propertiesWindow .component {

    margin: 12px;
    border-bottom: 2px solid #454545;
    border-bottom-style: dashed;
}

#projectWindow {

    width: 100%;
    min-width: 25vw;
    max-width: 30vw;
}

#statsWindow {

    transform-origin: right center;
    justify-self: right;
    width: 100%;
    min-width: 20vw;
    max-width: 25vw;
}

#workspaceWindow {

    min-width: 30vw;
}

#worldObjectsWindow .window-content .window-body {

    user-select: none;
}

#windowContextMenu {

    position: absolute;
    display: none;

    border: 1px solid #303030;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 1000;
    background: #101010;
}

#windowContextMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

#windowContextMenu li:hover {
  background-color: #303030;
}

.context-menu-option {

    font-size: 0.8rem;
    padding: 12px;
    padding-right: 45px;
}

#workspaceGrid {

    display: grid;
    gap: 1px;
    background-color: #444;
    width: fit-content;
    transform-origin: center center;
}

#workspaceGrid .cell {

    width: 40px;
    height: 40px;
    border-color: #303030;
    background-color: #151515;
    box-sizing: border-box;
}

#workspaceGrid .cell:hover {

    background-color: #303030;
}

#consoleWindow .content p {

    padding-left: 8px;
    padding-bottom: 4px;
    color: #d4d4d4;
    font-size: 0.8rem;
    width: 100%;
    border-bottom: 1px solid #151515;
}

.console-log {

    color: #d4d4d4fa;
}

.console-warning {

    color: #f0bc14fa;
}

.console-error {

    color: #f04e38fa;
}

.window .content {

    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

#workspaceWindow .content {

    height: 100px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.content::-webkit-scrollbar-track {
  background: #303030; /* color of the track */
}

.content::-webkit-scrollbar-thumb {
  background-color: #151515;    /* color of the scroll thumb */
  border-radius: 6px;        /* roundness of the thumb */
   /* creates padding inside thumb */
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #303030;    /* darker on hover */
}

.content {
  scrollbar-width: thin; /* options: auto | thin | none */
  scrollbar-color: #303030 #151515; /* thumb color | track color */
}

#worldObjectsWindow .content p {

    padding: 4px;
    padding-left: 8px;
    font-size: 0.8rem;
    color: #f5f5f5;
}

.content p:hover {

    background-color: #151515;
}

#propertiesWindow .component .title {

        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#propertiesWindow .component .title h2 {

    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 16px;
}

#propertiesWindow .component .row,
#propertiesWindow .component .args {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

#propertiesWindow .component .title h6 {

    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 400;
}

#propertiesWindow .component .args p {

    font-size: 0.8rem;
        margin-left: 5px;
    text-transform: none;
    border: none;
}

#propertiesWindow .component .args input {

    height: 20px;
    max-width: 60px;
    padding: 4px;
    border-radius: 2px;
    font-size: 0.75rem;
    color: white;
    margin-left: 5px;
    background-color: #151515;
    border: 1px solid #404040;
}

#propertiesWindow .component {

    display: none;
}

#gridObjects {

    width: 100%;
    height: 100%;
    z-index: 20;
}

#transformComponent {

    display: none;
}

#transformArrow {

    display: none;
    width: 20px;
    height: 20px;
    position: relative;
}

#transformArrow img {

    height: 100%;
    width: 100%;
    left: 20px;
    position: absolute;

    user-drag: none;      
    -webkit-user-drag: none;
    user-select: none;    
    pointer-events: none; 
}

.component {

    display: none;
}

select {

    color: #f3f3f3;
    border: 1px solid #303030;
    background-color: #151515;

    padding: 4px;
}

#framerate {

    height: 35px;
    color: white;
    border: none;
    padding-left: 15px;
    background-color: #303030;
}

#addComponent {

    display: block;
    height: 80px;
    border-color: #303030;
    background-color: #151515;
}

#addComponent li {

    color: white;
    font-size: 0.8rem;

    padding: 8px;
    background-color: #303030;
}

#addComponent li:hover {

    cursor: pointer;
    background-color: #151515;
}

#codeWindow {

    display: none;
}


#codeWindow textarea {

    position: absolute;
    top: 30px;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    border: 1px solid #303030;
    background-color: #151515;
}

#codeWindow textarea:focus {

    border: none;
}

#organizer {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

#emptyText {

    display: none;
}


#projectWindow .content {

    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-start;
}

.organizer-folder {

    display: none;
    max-width: 60px;
    max-height: 60px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
        border-radius: 4px;
}

.organizer-folder:hover {

    cursor: pointer;
    background-color: #151515;
}

.organizer-folder img {

    height: 40px;
}

.organizer-folder p {
    font-size: 0.8rem;
    color: #d5d5d5;
    text-align: center;
}

